<div class="container">
  <h1>Your personnalized notepad</h1>

  <% @notes.each do | note | %>
    <p> <%= check_box_tag :status %> <%= note.name %> - <%= note.description %></p>
  <% end %>

  <%= render "notes/new_note_form" %>
</div>


<%# The checkboxes are not real ones! They are simply Font Awesome icons.

To create the checkboxes visuals in your view for each task, import Bootstrap & Font Awesome CDNs in the <head> of your application.html.erb.

Then, in your view, use conditionals. If your task is completed, display the checked square, else, display an empty square (as a hint 😉, search for check-square and square icons on fontawesome 😉). %>
